extends ../layouts/main.jade

mixin posts(data)
  if data && data.length
    .post-list
      each p in data
        a.post-cards.well(href='/post/'+p.id)
          .title= p.title
          .content= p.content
  else
    p 目前沒有問題

block content
  .container: .row: .col-md-12
    h1 問題列表
    hr
    +posts(posts)
