extends ../layouts/main.jade

include ../mixins/utils.jade
include ../mixins/post.jade

block scripts
  script(src='/js/jquery-2.1.4.min.js')
  script(src='/js/masonry.pkgd.min.js')
  script(type='text/javascript')
    include ../scripts/index.js

block content
  .container: .row: .col-md-12
    h1 問題列表
    hr
    +posts(posts, true)
