extends ../layouts/main.jade

include ../mixins/post.jade

block scripts
  script(src='/js/jquery-2.1.4.min.js')
  script(type='text/javascript')
    include ../scripts/post.js
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&language=zh_TW&callback=initMap', async, defer)

block content
  .container: .row: .col-md-12
    +post(post)
