
<div ng-controller="PostNewController as pnCtrl">
  <h1>我要發問！</h1>
  <hr/>
  <form name="postForm" novalidate="novalidate">
    <div ng-class="{ 'has-error': postForm.title.$invalid &amp;&amp; pnCtrl.formSubmitted }" class="form-group">
      <label>問題標題</label>
      <input type="text" name="title" ng-model="pnCtrl.data.title" required="required" class="form-control"/>
    </div>
    <div ng-class="{ 'has-error': postForm.content.$invalid &amp;&amp; pnCtrl.formSubmitted }" class="form-group">
      <label>問題內容</label>
      <textarea rows="7" style="resize:vertical" name="content" ng-model="pnCtrl.data.content" required="required" class="form-control"></textarea>
    </div>
    <div ng-class="{ 'has-error': postForm.location.$invalid &amp;&amp; pnCtrl.formSubmitted }" class="form-group">
      <label>地點</label>
      <input type="text" name="location" ng-model="pnCtrl.data.location" required="required" class="form-control"/>
    </div>
    <div ng-class="{ 'has-error': postForm.latlng.$invalid &amp;&amp; pnCtrl.formSubmitted }" class="form-group">
      <label>座標</label>
      <div class="input-group"><span class="input-group-btn">
          <button type="button" title="丟下標記" ng-click="pnCtrl.dropMarker()" class="btn btn-default"><span class="glyphicon glyphicon-map-marker"></span></button></span>
        <input type="text" name="latlng" ng-model="pnCtrl.latLng" required="required" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <button type="button" ng-click="pnCtrl.submitForm(postForm.$valid)" class="btn btn-default">送出</button>
      <div class="err-msg">{{ pnCtrl.errMsg }}</div>
    </div>
  </form>
</div>