
<div ng-controller="PostNewController as pnCtrl">
  <h1>我要發問！</h1>
  <hr/>
  <form method="post" class="form">
    <div class="form-group">
      <label>問題標題</label>
      <input id="post-title" type="text" name="title" class="form-control"/>
    </div>
    <div class="form-group">
      <label>問題內容</label>
      <textarea id="post-content" rows="5" style="resize:vertical" name="content" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label>地點</label>
      <input id="post-location" type="text" name="location" class="form-control"/>
    </div>
    <div class="form-group">
      <button id="post-submit" type="submit" class="btn btn-default">送出</button><span id="err-text" class="err-red"></span>
    </div>
  </form>
</div>