doctype html
html
  head
    title Hack.Taipei
    link(rel='stylesheet', href='/styles/app.css')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand Hack.Taipei
      
    block content
    block scripts
