doctype html
html
  head
    title Hack.Taipei
    link(rel='stylesheet', href='/styles/app.css')
  body.map-layout
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') Hack.Taipei
        .nav.navbar-nav.navbar-right
          a.btn.btn-default.navbar-btn(href='/post/new') 我要發問

    .container-fluid
      block map
      block leftPane
      block rightPane

    block scripts
