$font-size-base: 16px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "Noto Sans CJK TC", "微軟正黑體", sans-serif;

@import "bootstrap";

body.list-layout {
  // for fixed top navbar
  padding-top: 70px;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

hr {
  border-top: 1px solid #e5e5e5;
}

tbody {
  border-top: 1px solid #f0f0f0;
  tr > td {
    border-top: none;
    border-bottom: 1px solid #f0f0f0;
  }
}

$gray-background: #e8e8e8;
$left-pane-width: 400px;
$right-pane-width: 500px;
$pane-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
.map-layout > .container-fluid,
.left-pane, .right-pane, .map-pane {
  position: fixed;
  height: calc(100% - 50px);
}

.map-layout > .container-fluid {
  padding: 0;
}

.map-layout {
  padding-top: 50px;
  height: 100%;
  position: fixed;

  nav {
    margin-bottom: 0px;
    box-shadow: $pane-box-shadow;
  }

  .left-pane {
    width: $left-pane-width;
    padding: 15px;

    overflow-y: auto;

    background-color: $gray-background;
    box-shadow: $pane-box-shadow;

    hr {
      border-top: 1px solid gray;
    }

    .post-card {
      a.well {
        background-color: white;
      }
    }
  }

  .map-pane {
    padding-left: $left-pane-width;
    width: 100%;
    left: 0px;

    transition: 0.2s;

    #map-canvas {
      height: 100%;
    }
  }

  .map-pane.shrink-right {
    padding-right: $right-pane-width;
  }

  .right-pane {
    width: $right-pane-width;
    padding: 15px 30px;

    overflow-y: auto;

    background-color: white;
    box-shadow: $pane-box-shadow;

    right: -($right-pane-width + 10px);
    transition: 0.2s;
  }

  .right-pane.show {
    right: 0px;
  }
}

#inpost-map-canvas {
  height: 300px;
}

.post-card {
  padding: 0 5px;
  a {
    margin-bottom: 10px;

    color: initial;
    display: block;

    .title {
      font-size: 1.25em;
      font-weight: bolder;
      margin-bottom: 1em;
    }

    .content {
      white-space: pre-wrap;
    }
  }

  a:hover, a:focus {
    color: initial;
    text-decoration: none;
  }

  .attribution {
    margin-top: 1em;
    font-size: 0.8em;
  }
}

.err-red {
  color: red;
  margin: 0 10px;
}

.post-text {
  margin: 2em 0;
  width: 100%;

  td {
    vertical-align: top;
  }

  .score-container {
    text-align: center;
    font-size: 1.75em;
    width: 3em;
  }

  p.post-content {
    font-size: 1.2em;
    white-space: pre-wrap;
  }

  p.post-location {
    color: gray;
  }

  .map-container {
    width: 300px;

    .well {
      padding: 0px;
      margin-bottom: 0px;
    }
  }
}

.post-text > tbody, 
.post-text > tbody > tr > td {
  border: none;
}

.vote {
  color: gray;

  span {
    cursor: pointer;
  }

  span:hover {
    color: initial;
  }
}


.comments-container {
  margin-top: 2em;

  .comment-actions {
    width: 15px;

    span.supernova {
      color: #fe7a15;
    }
    span.hot {
      color: #cf7721;
    }
    span.warm {
      color: #9b764f;
    }
    span.cool {
      color: #999;
    }
  }
}

.attribution {
  * {
    padding: 0 3px;
  }

  .date {
    color: #999;
  }
}

.answers-container {
  margin-top: 48px;
}

.answer-form {
  margin-bottom: 15px;
}
