.post-list(ng-controller='PostListController as plCtrl')
  h1 問題列表
  hr
  .post-card 
    .well(ng-repeat='p in plCtrl.posts')
      .item(ui-sref='.postDetail({ id: p.id })', ng-click='plCtrl.onListItemClicked(p)')
        .title {{ p.title }}
        .content {{ p.content }}
      .attribution 
        a(href='http://facebook.com/{{ p.owner.id }}', target='_blank') {{ p.owner.name }}
        span.date: span(am-time-ago="p.created_at") 
