div(ng-controller='PostNewController as pnCtrl')
  h1 我要發問！
  hr
  form(name='postForm', novalidate)
    .form-group(ng-class="{ 'has-error': postForm.title.$invalid && pnCtrl.formSubmitted }")
      label 問題標題
      input.form-control(type='text', name='title', ng-model='pnCtrl.data.title', required)

    .form-group(ng-class="{ 'has-error': postForm.content.$invalid && pnCtrl.formSubmitted }")
      label 問題內容
      textarea.form-control(rows='7', style='resize:vertical', name='content', ng-model='pnCtrl.data.content', required)

    .form-group(ng-class="{ 'has-error': postForm.location.$invalid && pnCtrl.formSubmitted }")
      label 地點
      input.form-control(type='text', name='location', ng-model='pnCtrl.data.location', required)

    .form-group(ng-class="{ 'has-error': postForm.latlng.$invalid && pnCtrl.formSubmitted }")
      label 座標
      .input-group
        span.input-group-btn: button.btn.btn-default(type='button', title='丟下標記', ng-click='pnCtrl.dropMarker()'): span.glyphicon.glyphicon-map-marker
        input.form-control(type='text', name='latlng', ng-model='pnCtrl.latLng', required)

    .form-group
      button.btn.btn-default(type='button', ng-click='pnCtrl.submitForm(postForm.$valid)') 送出
      .err-msg {{ pnCtrl.errMsg }}

