div(ng-controller='PostNewController as pnCtrl')
  h1 我要發問！
  hr
  form.form(method='post')
    .form-group
      label 問題標題
      input.form-control(id='post-title', type='text', name='title')

    .form-group
      label 問題內容
      textarea.form-control(id='post-content', rows='5', style='resize:vertical', name='content')

    .form-group
      label 地點
      input.form-control(id='post-location', type='text', name='location')

    .form-group
      button.btn.btn-default(id='post-submit', type='submit') 送出
      span.err-red(id='err-text')

